{% extends "layouts/base.html" %}
{% load i18n static %}
{% block title %} Edit Shelter {% endblock title %}
{% block overlay %}
<div class="min-height-300 position-absolute w-100" style="
background-color: #8bc6ec;
background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
"></div>
{% endblock overlay %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card card-plain">
        <div
          class="card-header pb-0 text-start"
          style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)"
        >
          <form action="{% url 'update-shelter' shelter.id %}" method="post">
            {% csrf_token %}

            <!-- Nama Bangunan -->
            <div class="form-group mb-3">
              <label for="name">Nama Bangunan</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="nama_bangunan"
                value="{{ shelter.nama_bangunan }}"
                placeholder="Nama Bangunan"
                maxlength="255"
                autocomplete="off"
              />
            </div>

            <!-- Latitude Longitude -->
            <div class="form-group mb-3">
              <label for="kordinat">Latitude Longitude</label>
              <input
                type="text"
                class="form-control"
                id="kordinat"
                name="kordinat"
                value="{{ shelter.latitude_longitude }}"
                placeholder="Latitude Longitude"
                maxlength="255"
                autocomplete="off"
              />
            </div>

            <!-- Alamat -->
            <div class="form-group mb-3">
              <label for="alamat">Alamat</label>
              <input
                type="text"
                class="form-control"
                id="alamat"
                name="alamat"
                value="{{ shelter.alamat }}"
                placeholder="Alamat"
                maxlength="255"
                autocomplete="off"
              />
            </div>

            <!-- Dropdown untuk  ATAP -->
            <div class="form-group mb-3">
              <label for="nama_kriteria_atap" class="form-label">Nama Kriteria ATAP</label>
              <select id="nama_kriteria_atap" name="atap" class="form-select">
                <option value="">Pilih</option>
                {% for kriteria in kriteria_atap %}
                  <option value="{{ kriteria.sub_kriteria }}" {% if shelter.atap == kriteria.sub_kriteria %}selected{% endif %}>
                    {{ kriteria.sub_kriteria }}
                  </option>
                {% endfor %}
              </select>
            </div>


            <!-- Dropdown untuk RANGKA ATAP -->
            <div class="form-group mb-3">
              <label for="nama_kriteria_rangka_atap" class="form-label">Nama Kriteria RANGKA ATAP</label>
              <select id="nama_kriteria_rangka_atap" name="rangka_atap" class="form-select">
                <option value="">Pilih</option>
                {% for kriteria in kriteria_rangka_atap %}
                  <option value="{{ kriteria.sub_kriteria }}" {% if shelter.rangka_atap == kriteria.sub_kriteria %}selected{% endif %}>
                    {{ kriteria.sub_kriteria }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <!-- Dropdown untuk KOLOM BANGUNAN -->
            <div class="form-group mb-3">
              <label for="nama_kriteria_kolom_bangunan" class="form-label">Nama Kriteria KOLOM BANGUNAN</label>
              <select id="nama_kriteria_kolom_bangunan" name="kolom_bangunan" class="form-select">
                <option value="">Pilih</option>
                {% for kriteria in kriteria_kolom_bangunan %}
                  <option value="{{ kriteria.sub_kriteria }}" {% if shelter.kolom_bangunan == kriteria.sub_kriteria %}selected{% endif %}>
                    {{ kriteria.sub_kriteria }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <!-- Status -->
            <div class="form-group mb-3">
              <label for="secure">Status</label>
              <select id="secure" name="status" class="form-select">
                <option value="">Pilih</option>
                <option value="Secure" {% if shelter.status == "Secure" %}selected{% endif %}>Aman</option>
                <option value="Un-Secure" {% if shelter.status == "Un-Secure" %}selected{% endif %}>Tidak Aman</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/shelter" class="btn btn-warning">Batal</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
