{% extends "layouts/base.html" %} {% load i18n static %} {% block title %} Home
{% endblock title %} {% block overlay %}
<div class="min-height-300 position-absolute w-100" style="
background-color: #8bc6ec;
background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
"></div>
{% endblock overlay %} {% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card card-plain">
        <div
          class="card-header pb-0 text-start"
          style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)"
        >
          <form action="{% url 'save-shelter' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Nama Bangunan</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="nama_bangunan"
                placeholder="Nama Bangunan"
                maxlength="255"
                autocomplete="off"
              />
              <label for="kordinat">Latitude Longitude</label>
              <input
                type="text"
                class="form-control"
                id="kordinat"
                name="kordinat"
                placeholder="Latitude Longitude"
                maxlength="255"
                autocomplete="off"
              />
              <label for="alamat">Alamat</label>
              <input
                type="text"
                class="form-control"
                id="alamat"
                name="alamat"
                placeholder="Alamat"
                maxlength="255"
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <label for="nama_kriteria_atap" class="form-label"
                >Nama Kriteria ATAP</label
              >
              <select
                id="nama_kriteria_atap"
                name="atap"
                class="form-select"
              >
                <option value="">Pilih</option>
                {% for kriteria in kriteria_atap %}
                <option value="{{ kriteria.sub_kriteria }}">
                  {{ kriteria.sub_kriteria }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="nama_kriteria_rangka_atap" class="form-label"
                >Nama Kriteria RANGKA ATAP</label
              >
              <select
                id="nama_kriteria_rangka_atap"
                name="rangka_atap"
                class="form-select"
              >
                <option value="">Pilih</option>
                {% for kriteria in kriteria_rangka_atap %}
                <option value="{{ kriteria.sub_kriteria }}">
                  {{ kriteria.sub_kriteria }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="nama_kriteria_kolom_bangunan" class="form-label"
                >Nama Kriteria KOLOM BANGUNAN</label
              >
              <select
                id="nama_kriteria_kolom_bangunan"
                name="kolom_bangunan"
                class="form-select"
              >
                <option value="">Pilih</option>
                {% for kriteria in kriteria_kolom_bangunan %}
                <option value="{{ kriteria.sub_kriteria }}">
                  {{ kriteria.sub_kriteria }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
            <!-- status -->
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" class="form-select mb-3">
              <option value="">Pilih</option>
              <option value="Secure">Aman</option>
              <option value="Un-Secure">Tidak Aman</option>
            </select>
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="/shelter" class="btn btn-warning">Batal</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
